<h1 class="eventDialogTitle" mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>Create Event</h1>
<div class="eventDialogContent" mat-dialog-content>
    <form [formGroup]="eventForm">
        <mat-form-field class="formField">
            <input type="text" matInput formControlName="nameControl" placeholder="Event">
        </mat-form-field>
        <br>
        <mat-form-field class="formField">
            <input type="text" matInput formControlName="streamControl" [readonly]="true" value="{{name}}">
        </mat-form-field>
        <br>
        <mat-form-field class="formField">
            <input type="text" matInput formControlName="startControl" [readonly]="true" value="{{start}}">
        </mat-form-field>
        <br>
        <mat-form-field class="formField">
            <input type="text" matInput formControlName="endControl" [readonly]="true" value="{{end}}">
        </mat-form-field>
        <br>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
    <button mat-stroked-button type="submit" [disabled]="!eventForm.valid" (click)="submitEvent()">Save</button>
</div>