/***********************/
/***** GENERAL CSS *****/
/***********************/
h1, h2, h3, h4, h5, h6, ul, p {
	font-family: 'Helvetica';
	margin: 1%;
	padding: 1%;
}

ul { 
	list-style-type: none;
	margin: 2%;
	padding: 2%;
}

li {
	margin: 5px;
	padding: 5px;
	min-width: 500px;
}

hr {
	display: block;
	width: 95%;
}

/**********************/
/***** CHARTS CSS *****/
/**********************/
#chart_container {
	box-sizing:border-box;
	display:inline-block;
	height:100%;
	width:100%;
}


ul.charts {
	box-sizing:border-box;
	display:inline-block;
	height:100%;
	padding-left:30px;
}

#swiper-box {
	width: 700px;
	height: 500px;
	padding: 0 60px 40px 60px;
	background-color: #fafafa;
	border-radius: 0px;
	border-width: 0px;
	box-shadow: none;
	margin: 10px 20px;
	position: relative;
}

ul.charts li {
	background-color: #ffffff;
	border-radius:6px;
	box-shadow: 0 0 2px grey;
	margin: 10px 20px;
	width: 45%;
	display:block;
	float:left;
	padding: 0;
}

.slider {
	background-color: #ffffff;
	border-radius:6px;
	box-shadow: 0 0 2px grey;
	width: 100%;
	display:block;
	float:left;
}

.group_title {
	font-weight:800;
	color:white;
	padding: 10px;
	background-color: #333;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
    position: relative;
}

.group_title button {
    position: absolute;
    top: 3px;
    right: 3px;
}

/**********************/
/***** NAVBAR CSS *****/
/**********************/
.navbar {
	background-color: #333;
	color: white;
}

.navbar .spacer {
	flex: 1 1 auto;
}

#query {
	width: 550px;
	font-size: 18px;
}

/************************/
/***** SEARCH PAGES *****/
/************************/

.search_pages_container {
	text-align: center;
	height:50px;
}

.search_pages {
	display: inline-block;
	text-align: left;
	padding: 0px 10px 10px 10px;
}

.search_page {
	display: inline;
	list-style-type: none;
	font-size:18px;
}

li.search_page a:hover{
	cursor:pointer;
}

/*******************/
/***** SPINNER *****/
/*******************/

#progress {
    position: fixed;
    left: 41%;
    top: 55%;
}
  
.sidenav-container {
	height: 100%;
}

.sidenav-list {
	width: 120px;
}

.check-section {
	display: flex;
	align-content: center;
	align-items: center;
	height: 60px;
  }
  
.check {
	margin: 0 10px;
}

.actions {
	display: flex;
	flex-direction: row;
	align-items: center;
}
