<h2 class="group_title" mat-dialog-title>{{name}} {{value}}</h2>
<div class="group_dialog_content">
    <mat-chip-list *ngIf="!isAniyama">
        <mat-chip *ngFor="let att of atts" (click)="openAttributeDialog(att)">
            {{att.attribute}}: {{att.value}}
        </mat-chip>
        <mat-chip color="primary" selected="true" (click)="newAttributeDialog()">NEW</mat-chip>
    </mat-chip-list>
    <br>
    <mat-dialog-content>
        <mat-tab-group (selectedTabChange)="get_chart($event)">
            <mat-tab *ngFor="let stream of streams" label={{stream.stream}}>
                <ng-template matTabContent>
                    <div class="actions">
                        <button mat-icon-button (click)="openCurrentEventDialog(stream.stream)"><mat-icon>add_comment</mat-icon></button>
                        <section *ngIf="showMatch" class="check-section">
                            <label class="check">Does the result match?:</label>
                            <mat-radio-group (change)="onRadioChange($event, stream)" [(ngModel)]="stream.match">
                                <mat-radio-button class="check" value="Yes">Yes</mat-radio-button>
                                <mat-radio-button class="check" value="No">No</mat-radio-button>
                            </mat-radio-group>
                        </section>
                    </div>
                    <div id="{{stream.stream}}_dialog"></div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
</div>
